nav{
    background-color: #33ccff;
    padding: 30px 0px 30px 0px;
    font: 600 16px "Montserrat";

}


.btn-outline{
color: #002f73!important;
background-color: #33ccff;
border: 2px solid  #002f73;
font: 600 13.3333px "Montserrat";
padding:5px

}
.redes{
    color: white;
    font-size:20px;
}


.banner{
    background: url("../../assets/img/banner1.jpg" )  no-repeat center right ;
    background-size:cover;  
    height: 90vh;    
    min-width: 100%;
    

}
.banner-title{
    padding: 10% 0;
    height: 100%;
    background-color: rgba(51, 204, 255, 0.5);
}

.banner-title h2{
    font-family:"Montserrat";
    font-size: 3vh;
    font-weight: 500;
    color:white;
}
.banner-title h1{
    font-family:"Montserrat";
    font-weight: 800;
    color:white;
    font-size:7vh;
}
.banner-title-icons{
    font-size: 8vh;
    color:white;

}
.banner-title-icons span{
    margin: 5px;
}

.banner-title button {
    font-family:"Montserrat";
    font-weight: 600;
    font-size: 3vh;
}
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #8ad3d3;
    border-color: #7cc
}

 h1.subtitle{
    font-family:"Montserrat";
    font-size: 6vw;
    font-weight: 300!important;
    font-style: italic;

}
.blue-effect{
    background-color: rgba(51, 204, 255, 0.6)
}
/* whySection */
.whySection{
    background-color:#33ccff;
    padding: 5vw 0px;
}
.whySection h1{
    font-family:"Montserrat";
    font-size: 7vh;
    font-weight: 800;
    color:#002f73 ;

}
/* reasons */
.reasons{
    background: url("../../assets/img/bannerReason.jpg")  bottom ;
    background-size: cover;
    color: white;
    background-attachment: scroll;
    position: relative;


}

.reasons h3{
    font-family:"Montserrat";
    font-weight: 550;
    font-size: 2rem;
    margin: 0px;
}
.reasons p{
    font-size: 2vh;
    font-weight: 350;

    
}
.background-reasons{
    background-color: rgba(51, 204, 255, 0.6);
    position:absolute;
    height: 100%;
    width:  100%;
    top:0

}
.reason{
    position: relative;
    padding: 10vh 0px;

}

div.reasons-icons {
 font-size: 15vh;
}
.separadores{
    border-bottom: 1px solid white;
    border-top: 1px solid white;

}



@media (min-width: 768px) { 
    .separadores{
      
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 0;
        border-top: 0;
    
    }
    .reasons{
        padding: 10vh 0px;

    }
    .reason{
        padding: 0vh 0px;
 
    }
 
 }
/* Beneficios */
.beneficio{
    background: url("../../assets/img/banner3.jpg")   top center;
    background-size: cover;
    color: white;
}
.beneficio h3{
    font-family: "Montserrat";
    font-weight: 550;
    font-size: 2rem;
    margin: 0px;
}
.beneficio h1{
    font-family: "Montserrat";
    font-size: 7vh;
    font-weight: 800;
    color: white; 
}
.beneficio span{
    font-size: 15vh;

}

.lista-beneficios{
    background-color: rgba(51, 204, 255, 0.6);
    margin:0px
}
.separador-beneficios{
   border-top: 1px solid white;
}
@media (min-width: 768px)
{
    .separador-beneficios{
        border-top: none
     } 
}

/* Descripcion */
.descripcion{
   padding: 5%;
}
.img-nosotros img{
    width: 100%;
 }
.descripcion h1{
    font-family: "Montserrat";
    font-size: 7vh;
    font-weight: 800;
    color: #002f73; 
}
.descripcion p{
font-family: "Montserrat";
font-size: 2vh;
font-weight: 500;
color: #002f73;}
.descripcion span{
    font-size: 10vh;
    color: #33ccff;}
 @media (min-width: 768px)

 {
    .descripcion h1{
        font-family: "Montserrat";
        font-size: 7vw;
        font-weight: 800;
        color: #002f73; 
    }
    .descripcion p{
    font-family: "Montserrat";
    font-size: 1vw;
    font-weight: 500;
    color: #002f73;}
   
}
  
/* Exitos */
.Exitos{
    background-color:#002f73 ;
}
.Exitos h1{
    font-family: "Montserrat";
    font-size: 7vh;
    font-weight: 800;
    color: #33ccff; 
}
.Exitos p{
font-family: "Montserrat";
font-size: 2vh;
font-weight: 500;
color: white;}
.Exitos span{
    font-size: 10vh;
    color: white;}
 @media (min-width: 768px)

 {
    .Exitos h1{
        font-family: "Montserrat";
        font-size: 7vw;
        font-weight: 800;
        color: #33ccff; 
    }
    .Exitos p{
    font-family: "Montserrat";
    font-size: 1vw;
    font-weight: 500;
    color: white;}
   
}

/* contacto */
.contacto span{
    font-size: 10vh;
    color: white;}
.contacto{
background-color: #33ccff; 
 padding:10px 0px;
}
.contacto h1{
    font-family: "Montserrat";
    font-size: 7vw;
    font-weight: 800;
    color: #002f73; 
}
.contacto input{
    background: rgba(227, 230, 231, 0.589)!important;

}
.contacto textarea{
    background: rgba(227, 230, 231, 0.589)!important;
    font-family: "Montserrat";
    color: #002f73!important; 
    font-weight: 800;
}
.contacto input::placeholder{
    font-family: "Montserrat";
    color: #002f73!important; 
    font-weight: 800;


}
.contacto textarea::placeholder{
    font-family: "Montserrat";
    color: #002f73!important; 
    font-weight: 800;
}