<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <div class="mx-auto row">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-center" href="#">¿POR QUÉ WORKFIT?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">CASOS DE EXITOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-center" href="#">CONTACTO</a>
                </li>
                <li >
                    <div class="row col-12 text-center m-1">
                            <span class="col-4 redes" ><i class="fab fa-facebook-f"></i></span> 
                            <span class="col-4 redes" ><i class="fab fa-instagram"></i></span>      
                            <span class="col-4 redes" ><i class="fab fa-linkedin"></i></span> 
                    </div>
                </li>
                
                <li class="nav-item">
                    <button type="button" name="" id="" class=" nav-link btn-outline">INICIAR SESION</button>
                </li>

             </ul>
         </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </nav>
  <section class="col-12">
    
        <div class="banner" >             
        <div class="banner-title text-center">
           <div class="text-center mx-auto banner-title-icons">
               <span><i class="fas fa-dumbbell"></i> </span>
               <span> <i class="fab fa-black-tie"></i></span>
           </div>
            <h1 class="text-center">
                PAUSA ACTIVA
            </h1>
            <h1 class="text-center" >
                LABORAL
            </h1>
            <h1 class="text-center subtitle">
                100% ONLINE
            </h1>
            <h2 class="text-center ">Las mejores rutinas de ejercicios para hacer en el trabajo.</h2>
            <button type="button" class="btn btn-outline-light col-10 col-lg-3">CLASE DE PRUEBA</button>
        </div>
    </div>

  </section>
    <section class="col-12  whySection">
        <div class="text-center  mx-auto">
            <h1>¿POR QUÉ WORKFIT?</h1>
        </div>
    </section>

    <section  class="reasons">
        <div class="background-reasons"></div>
        <div class="row col-12 col-md-8 mx-auto">
            <div class="col-12 col-md-4  text-center reason">
                <div class="reasons-icons">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores reason">
                <div class="reasons-icons">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center reason">
                <div class="reasons-icons">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            
        </div>
    </section>
    <section  class="">
        <div class="row col-12 col-md-8 mx-auto">
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores">
                <div class="">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center">
                <div class="">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            
        </div>
    </section>
