<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="d-sm-none" href="#">
        <img src="../../assets/img/LogoWebFit.png" alt="" srcset="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <div class="mx-auto row">
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link" href="#" class="d-none d-sm-block ">
                        <img src="../../assets/img/LogoWebFit.png" alt="" srcset="">
                    </a>
                </li>
                <li class="nav-item">
                    
                    <a class="nav-link  text-center" href="#">¿POR QUÉ WORKFIT?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">CASOS DE EXITOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-center" href="#">CONTACTO</a>
                </li>
                <li >
                    <div class="row col-12 text-center m-1">
                            <span class="col-4 redes" ><i class="fab fa-facebook-f"></i></span> 
                            <span class="col-4 redes" ><i class="fab fa-instagram"></i></span>      
                            <span class="col-4 redes" ><i class="fab fa-linkedin"></i></span> 
                    </div>
                </li>
                
                <li class="nav-item">
                    <button type="button" name="" id="" class=" nav-link btn-outline">INICIAR SESION</button>
                </li>

             </ul>
         </div>
      </div>
    
  </nav>
  <section class="col-12">
        <div class="banner" >             
        <div class="banner-title text-center">
           <div class="text-center mx-auto banner-title-icons">
               <img src="../../assets/img/corbata.png" alt="" srcset="">
           </div>
            <h1 class="text-center">
                PAUSA ACTIVA
            </h1>
            <h1 class="text-center" >
                LABORAL
            </h1>
            <h1 class="text-center subtitle">
                100% ONLINE
            </h1>
            <h2 class="text-center ">Las mejores rutinas de ejercicios para hacer en el trabajo.</h2>
            <button type="button" class="btn btn-outline-light col-10 col-lg-3">CLASE DE PRUEBA</button>
        </div>
    </div>

  </section>
    <section class="col-12  whySection">
        <div class="text-center  mx-auto">
            <h1>¿POR QUÉ WORKFIT?</h1>
        </div>
    </section>

    <section  class="reasons">
        <div class="background-reasons"></div>
        <div class="row col-12 col-md-8 mx-auto">
            <div class="col-12 col-md-4  text-center reason">
                <div class="reasons-icons">
                    <span><i class="fas fa-globe-americas"></i></span>
                </div>
                <h3>ONLINE </h3>
                <p>Donde y como quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center separadores reason">
                <div class="reasons-icons">
                    <span><i class="fas fa-clock"></i></span>
                </div>
                <h3>ON DEMAND</h3>
                <p>Cuando quieras</p>
            </div>
            <div class="col-12 col-md-4  text-center reason">
                <div class="reasons-icons">
                    <span><i class="fas fa-hand-holding-usd"></i></span>
                </div>
                <h3>LOW COST </h3>
                <p> Un precio accecible</p>
            </div>
            
        </div>
    </section>
    <section class="beneficio mt-2">
       <div class="row col-12 lista-beneficios text-center">
        <h1 class="col-12">+Beneficio</h1>

        <div class="col-12 col-md-4  text-center ">
                <span><i class="fas fa-calendar-check">   </i></span>
            <h3>DISMINUYE
                EL AUSENTISMO </h3>
        </div>
        <div class="col-12 col-md-4  text-center separadores">
            <div class="">
                <span><i class="fas fa-balance-scale "></i></span>
            </div>
            <h3>AUMENTA LA
                PRODUCTIVIDAD</h3>
        </div>
        <div class="col-12 col-md-4  text-center ">
                <span><i class="fas fa-users"></i></span>
            <h3>+ ESPIRITU
                DE EQUIPO </h3>
        </div> 
        <div class="col-12 col-md-4  text-center mt-2 separador-beneficios">
            <span><i class="fas fa-hand-holding-usd"></i></span>
            <h3>MAYOR
                COMPROMISO</h3>
        </div>  
        <div class="col-12 col-md-4  text-center separadores mt-2">
                <span><i class="fas fa-smile"></i></span>
            <h3>+ SATISFACCIÓN
                EN EL TRABAJO </h3>
        </div>  
        <div class="col-12 col-md-4  text-center mt-2">
            <span><i class="fas fa-male"></i>  </span>
            <h3>MEJORA LA
                POSTURA </h3>
        </div>
        
    </div>

  </section> 
  <section class="nosotros">
    <div class="col-12 row   mx-auto">
        <div class="col-12 col-md-6 img-nosotros  p-0">
            <img src="../../assets/img/office.jpg" class="">
        </div>
        <div class="col-12 col-md-6 descripcion text-center">
            <span><i class="fas fa-users"></i></span>
            <h1 class="">Nosotros</h1>
             <p>Somos la primera Startup de actividad física y bienestar
                laboral 100% online. Nuestro objetivo, mejorar la calidad
                de vida y la productividad de las personas y las empresas.</p>
        </div>
    </div>
  </section>
  <div class="Exitos">
      <div class="col-12 col-md-8  text-center mx-auto">
        <span><i class="fas fa-dumbbell"></i> </span>
            <h1>CASOS
                DE ÉXITO</h1>
            <p>Estas empresas ya confían en nosotros.
            </p>
        <div class="row col-12 mx-auto text-center">
            <div class="col">
                <span><i class="fab fa-instagram"></i> </span>
            </div>
            <div class="col">
                <span><i class="fab fa-instagram"></i> </span>
            </div>
            <div class="col">
                <span><i class="fab fa-instagram"></i> </span>
            </div>
            <div class="col">
                <span><i class="fab fa-instagram"></i> </span>
            </div>
            <div class="col">
                <span><i class="fab fa-instagram"></i> </span>
            </div>
        </div>

             
      </div>
    </div>
    <div class="col-12 contacto">
            <div class="col-11 col-md-8 col-lg-6 mx-auto text-center">
                <span><i class="fas fa-envelope"></i>
                </span>
                <h1>Contacto</h1>
                <div class="form-group">
                <label for=""></label>
                <input type="text"
                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="NOMBRE Y APELLIDO">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text"
                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="EMAIL">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <input type="text"
                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="EMPRESA">
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <textarea name="" class="form-control" id="" cols="30" rows="10"  placeholder="MESAJE"></textarea>
                </div>

            </div>
    </div>